{% include "top.html.twig" %}
<form action="/addstudent" method="post">
  <label for="studentname">Enter Student Name:</label>
  <input class="form-control" type="text" name="studentname">
  <button type="submit">Enter</button>
</form>

{% include "bottom.html.twig" %}
