  {% include "top.html.twig" %}
      <h1>ELIOT AND MAX ARE SOO SMART THEY STARTED THEIR OWN SCHOOL</h1>
      <h3>LETS SEE WHAT WONDERUL CLASSES THEY OFFER AND THE WONDERFUL STUDENTS WHOM ATTEND THEM</h3>
      <p><a href=/addclass>Add a class!</a></p>
      <p><a href=/addstudent>Add a student!</a></p>
      <p><a href=/seeclasses>See all classes!</a></p>
      <p><a href=/seestudents>See all students!</a></p>
  {% include "bottom.html.twig" %}
